absl-py
dm-tree>=0.1.5
jax>=0.3.14
jaxlib>=0.1.37
numpy>=1.23.0
tensorflow>=2.8.0; sys_platform != 'darwin' or platform_machine != 'arm64'
tensorflow-macos>=2.8.0; sys_platform == 'darwin' and platform_machine == 'arm64'
