absl-py
dm-tree>=0.1.5
jax>=0.4.34
jaxlib>=0.4.34
numpy>=1.23.0
tensorflow>=2.17.0; sys_platform != 'darwin' or platform_machine != 'arm64'
tensorflow-macos>=2.17.0; sys_platform == 'darwin' and platform_machine == 'arm64'
